.ContactUs {
    padding-block: 3rem;
    position: relative;
    height: 160vh;
    margin-top: 80%;
}

.ContactUs .text-container {
    text-align: center;
}

.ContactUs .image-container img {
    max-width: 100%;
    object-fit: cover;
}

.ContactUs .text-container h3 {
    color: black;
    max-width: 280px;
    text-align: center;
}

.ContactUs .contact-info-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
    gap: 32px;
}

.ContactUs .contact-info-container .map-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.ContactUs .contact-info-container iframe {
    width: 600px;
    height: 450px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

.ContactUs .contact-info-container .info-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 32px;
}

.ContactUs .contact-info-container .info-boxes .box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: rgb(247, 245, 245);
    gap: 24px;
    box-shadow: 1px 2px 16px #0000001c;
    padding: 24px 32px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.ContactUs .contact-info-container .info-boxes .box img {
    object-fit: contain;
}

.ContactUs .contact-info-container .info-boxes .box .text h6 {
    font-size: 1.2rem;
}

.ContactUs .contact-info-container .info-boxes .box .text p {
    color: #a7a7a7;
}


.ContactUs .contact-info-container .form-box {
    background: var(--body-color);
    box-shadow: 1px 2px 16px #1b1a1a1c;
    padding: 32px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.ContactUs .contact-info-container .form-box form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 24px;
}

.ContactUs .contact-info-container .form-box .input-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.ContactUs .contact-info-container .form-box .input-box input,
.ContactUs .contact-info-container .form-box .input-box textarea {
    width: 300px;
    border: none;
    outline: none;
    background: #f6f6f6;
    padding: 10px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

@media screen and (max-width : 992px) {
    .ContactUs {
        height: 200vh;
    }

    .ContactUs .image-container img {
        height: 40vh;
    }

    .ContactUs .contact-info-container iframe {
        width: 380px;
    }

    .ContactUs .contact-info-container .info-boxes .box {
        width: 100%;
        padding: 24px 32px;
        margin-inline: 32px;
    }
}